.leftSideLogin {
    width: 50%;
    height: 100vh;
    position: relative;
    background: linear-gradient(-120deg, #D62121, #C72C2C, #3a1111);
    overflow: hidden;
}

.leftLogoContainer {
    height: 100vh;
    display: flex;
    align-items: center;
    margin-inline: 10px;
}

.leftLogoContainer svg {
    fill: #fff;
}

.leftSideLogin img {
    position: absolute;
    top: 0;
    left: 25%;
    transform: translateX(-25%);
    -webkit-transform: translateX(-25%);
    -moz-transform: translateX(-25%);
    -ms-transform: translateX(-25%);
    -o-transform: translateX(-25%);
}

.rightSide {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.rightSideLogin {
    display: flex;
    align-items: center;    
}

.rightSideLogin .logo {
    margin: 40px 60px;
}

.loginForm {
    margin: 0 60px;
}

.loginPage {
    display: flex;
}

.loginInputs {
    margin: 20px;
}

.loginInputs input {
    margin: 0;
    margin-bottom: 20px;
}

.loginInputs button {
    margin: 10px 0;
}

@media (max-width:952px) {
    .leftSideLogin {
        display: none;
    }

    .rightSide {
        width: 100%;

    }

    .rightSide .logo {
        margin: 20px;
    }

    .loginInputs input {
        width: 80%;
    }

    .loginInputs button {
        width: 80%;
    }

    .loginPage {
        justify-content: center;
        align-items: center;
    }

    .loginForm {
        margin: 20px;
    }
}