.mybutton {
    background-color: var(--main-red);
    color: #fff;
    border: none;
    width: 400px;
    height: 60px;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 600;
}

.mybutton:hover {
    cursor: pointer;
    background-color: #c51c18;
}